<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="espacio"></div>
<center>
    <div>
        <h1>Habitacion 4</h1>
        <p>Oro parece, plata no es y el que no lo adivine un tonto es</p>
    </div>
    <form action='@Url.Action("Habitacion","Home")'>
        <input type="hidden" name="sala" value="4">
        <input type="text" name="clave">
        <input type="submit" value="Enviar">
        <button onclick="alert('Es una fruta')"> Pista 1</button>
        <button onclick="alert('Empieza con B.')"> Pista 2</button>
    </form>
</center>
<footer>
    <p>Trabajo realizado por Ivan Joaquin y Felipe Blaustein</p>
</footer>
</body>
</html>