<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="espacio"></div>
<center>
    <div>
        <h1>Habitacion 3</h1>
        <p>Entras a un cuarto todo obscuro, se prenden las luces y lo unico que puedes ver es un cuarto de paredes negras todas pintadas con la letra N. Das unos pasos para adelante y te encuentras con un cajón, lo abres y te encuentras con un papel con el siguiente acertijo:</p>
        <h3>Aunque comience por la noche, termino prácticamente por la mañana. ¿Qué puedo ser?</h3>
        <p>Adentro del cajon teencuentras con un aparato parecido a un blackberry, alli deberas de ingresar tu respuesta para avanzar.</p>
    </div>
    <img class="acertijo" src="\img\negro.png" alt="negro" width="30%">
    <img class="acertijo" src="\img\naranja.jpg" alt="naranja" width="30%">
    <img class="acertijo" src="\img\nintendo.png" alt="nintendo" width="30%">
    <form action='@Url.Action("Habitacion","Home")'>
        <input type="hidden" name="sala" value="3">
        <input type="text" name="clave">
        <input type="submit" value="Enviar">
        <button onclick="alert('Presta atencion a las fotos. Que letras tienen?')"> Pista 1</button>
        <button onclick="alert('La respuesta esta en las paredes.')"> Pista 2</button>
    </form>
</center>
<footer>
    <p>Trabajo realizado por Ivan Joaquin y Felipe Blaustein</p>
</footer>
</body>
</html>