<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="espacio"></div>
<center>
    <div>
        <h1>Habitacion 3</h1>
        <p>Hay algo que, aunque te pertenezca, la gente siempre lo utiliza más que tú. ¿Qué es?</p>
        <p>Adentro del cajon teencuentras con un aparato parecido a un blackberry, alli deberas de ingresar tu respuesta para avanzar.</p>
    </div>
    <img class="acertijo" src="\img\negro.png" alt="negro" width="30%">
    <img class="acertijo" src="\img\naranja.jpg" alt="naranja" width="30%">
    <img class="acertijo" src="\img\nintendo.png" alt="nintendo" width="30%">
    <form action='@Url.Action("Habitacion","Home")'>
        <input type="hidden" name="sala" value="3">
        <input type="text" name="clave">
        <input type="submit" value="Enviar">
        <button onclick="alert('Es una palabra que vos no elegiste')"> Pista 1</button>
        <button onclick="alert('La respuesta empieza con N y es algo que vos no elegiste')"> Pista 2</button>
    </form>
</center>
<footer>
    <p>Trabajo realizado por Ivan Joaquin y Felipe Blaustein</p>
</footer>
</body>
</html>