@{
    ViewData["Title"] = "Index";
}
<body>
<header>
<h1 class = "center">TP 05 - Index</h1>
<h3>Prueba escapar de nuestra sala , es todo un desafio que no cualquiera puede conseguir. Te deseamos suerte ya que cuando toques "habitacion1" empezara tu aventura.</h3>
</header>
<article>
    <img width="18%" src="/img/escaperoom_cartel.jfif">
    <img src= "/img/images.jfif">
    <img width="15%" src="/img/the-escape-game-prison-break-2.jpg">
</article>
<footer>
    <p>hecho por ivo y chinocapo211</p>
</footer>
</body>
