@{
    ViewData["Title"] = "Index";
}
<body>
<div>
    <nav class="dos">
        <a href='@Url.Action("Index")'>Home</a>
        <a href='@Url.Action("Tutorial")'>Tutorial</a>
        <a href='@Url.Action("Comenzar")'>Comenzar</a>
        <p class="tp">TP 05 - Index</p>
     </nav>
</div>
<div class="espacio"></div>
<center>
    
    <img class="l" width="30%" src="/img/images.jfif">
    <img class="r" width="30%" src="/img/the-escape-game-prison-break-2.jpg">
    <div>
        <h1>Sala de Escape ELMO</h1>
        <img src="\img\2a83514dda7fc4a4190909df623aa26d.png" alt="elmo logo">
    </div>
</center>
<footer>
    <p>Trabajo realizado por Ivan Joaquin y Felipe Blaustein</p>
</footer>
</body>
