@{
    ViewData["Title"] = "Index";
}
<body>
<div>
    <nav class="dos">
        <a href='@Url.Action("Index")'>Home</a>
        <a href='@Url.Action("Tutorial")'>Tutorial</a>
        <a href='@Url.Action("Comenzar")'>Comenzar</a>
        <a href='@Url.Action("Creditos")'>Creditos</a>
        <p class="tp">TP 05 - Index</p>
     </nav>
</div>
<div class="espacio"></div>
<center>
    <div>
        <h1>Tutorial</h1>
    </div>
    <p>Las reglas son simples. El usuario sera dado un enunciado con la consigna a resolver. Despues de resolver la consgina el usuario sera dado un resultado. Dicho resultado debera de ser ingresado dentro de un form al final de la habitacion. Si es correcto pasará a la siguiente habietacion, sino, debera seguir intentando.</p>
</center>
<footer>
    <p>Trabajo realizado por Ivan Joaquin y Felipe Blaustein</p>
</footer>
</body>