<body>
<div>
    <nav class="dos">
        <a href='@Url.Action("Index")'>Home</a>
        <a href='@Url.Action("Tutorial")'>Tutorial</a>
        <p class="tp">TP 05 - Index</p>
     </nav>
</div>
<center>
<div>
    <h1>¡Felicidades! Has escapado de nuestra sala exitosamente.</h1>
    <h3>Como recompensa tenes este diploma</h3>
    <img src="\img\Captura de pantalla 2023-06-06 102545.png" alt="">
</div>
</center>
<footer>
    <p>Trabajo realizado por Ivan Joaquin y Felipe Blaustein</p>
</footer>
</body>
